* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    max-width: 1600px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    font-family: 'CiscoSans', Arial, sans-serif;
    color: #424344;
    font-weight: 100;
    background: #fff;
    text-align: left;
}
.h1-db-custom {
    font-size: 68px;
    font-weight: 100;
}
.h2-db-custom {
    font-size: 38px;
    font-weight: 200;
}
.p-db-custom {
    font-size: 18px;
    margin-bottom: 16px;
    margin-top: 16px !important;
}
.db-contain {
    padding: 70px;
}
.db-grey-bg {
    background: #f2f2f2;
}
.flex-db {
    display: flex;
    justify-content: center;
    align-items: center;
}
.db-col {
    flex-direction: column;
}
.align-top-db {
    align-items: flex-start;
}
.custom-button-db-custom {
    display: block;
    width: fit-content;
    margin: 40px auto 0;
    padding: 12px 30px;
    border-radius: 30px;
    background-color: #0D274D;
    color: #fff !important;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.custom-button-db-custom:hover {
    background-color: #07162c;
    color: #fff;
    text-decoration: none !important;
}
.hero img {
    width: 35%;
}
.hero-description {
    padding: 0px 45px;
}
.hero-description .p-db-custom {
    font-size: 24px;
}
.db-subsection {
    padding: 0px 70px 30px;
    margin: auto;
    max-width: 875px;
    text-align: center;
}
.info-div {
    padding: 40px 0px 0px;
}
.info-div img {
    width: 40%;
    margin: 0 20px;
}
.text-col-db-custom {
    display: flex;
    align-items: center;  
    max-width: 500px;
}
.db-image-col {
    max-width: 300px;
}
.db-image-col.bigger-db-custom {
    max-width: 400px;
}
svg {
    width: 60px;
}
.height-img {
    width: auto;
    height: 220px;
}
.section-one,
.section-five  {
    justify-content: space-evenly;
}
.section-one > div,
.section-five > div  {
    width: 25%;
}
.section-five img,
.section-one img {
    display: block;
    max-width: none;
    height: 250px;
    margin: 0px auto;
}
.section-four > .flex-db,
.section-two > .flex-db {
    width: 750px;
    margin: auto;
    justify-content: space-around;
}
.section-three .db-col {
    width: 550px;
    align-items: baseline;
}
.flex-db.check {
    align-items: baseline;
}
.outro {
    margin-bottom: 30px;
}
.outro img {
    width: 300px;
}
.outro .bounceInRight {
    margin-left: -45px;
}
.outro .bounceInLeft {
    margin-left: 5px;
}

@media screen and (max-width: 1260px) {
    .hero {
        flex-direction: column-reverse;
    }
    .hero {
        text-align: center;
    }
    .hero img {
        margin-bottom: 30px;
    }
    .hero img {
        width: 45%;
    }
    .section-one > div, .section-five > div {
        width: 33%;
    }
}

@media screen and (max-width: 992px) {
    body {
        max-width: 992px;
    }
    .h1-db-custom {
        font-size: 31px;
        line-height: 40px;
    }
    .p-db-custom {
        font-size: 16px;
        line-height: 23px;
    }
    .db-contain {
        padding: 40px;
    }
    .hero-description {
        padding: 40px 0px 40px 40px;
    }
    .db-subsection {
        padding: 0px 30px 20px;
    }
    .info-div {
        padding: 40px 0px;
    }
    .db-image-col {
        max-width: 270px;
    }
}
@media screen and (max-width: 865px) {
    .flex-db.check {
        align-items: center;
    }
    .section-one,
    .section-five {
        flex-direction: column;
        align-items: center;
    }
    .section-one > div,
    .section-five > div  {
        width: 70%;
    }
    .section-five img, .section-one img {
        max-width: none;
        height: auto;
        width: 50%;
        margin-top: 20px;
    }
    .section-four > .flex-db, .section-two > .flex-db {
        width: 700px;
    }
}

@media screen and (max-width: 767px) {
    body {
        max-width: 767px;
    }
    .h1-db-custom {
        font-size: 36px;
        line-height: 44px;
    }
    .h2-db-custom {
        font-size: 28px;
        line-height: 34px;
    }
    .p-db-custom {
        font-size: 16px;
        line-height: 24px;
    }
    .hero-description {
        width: 100%;
        margin: 0 auto;
        padding: 25px 0px 0px;
        text-align: center;
    }
    svg {
        width: 50px;
        display:block;
        margin-left: auto;
    }
    .info-div {
        padding: 45px 0px;
    }
    .db-image-col {
        max-width: 230px;
    }
    .db-image-col, .text-col-db-custom {
        padding: 0;
    }
    .section-four > .flex-db, .section-two > .flex-db {
        width: 550px;
    }
    .section-four .db-image-col {
        width: 200px;
    }
    .db-image-col.bigger-db-custom {
        width: 250px;
    }
    .text-col-db-custom {
        max-width: 275px;
    }
    .db-image-col.bigger-db-custom {
        max-width: 325px;
    }
    .height-img {
        height: 190px;
    }
    .outro img {
        width: 200px;
    }
 }

@media screen and (max-width: 576px) { 
    body {
        max-width: 576px;
    }
    .h1-db-custom {
        font-size: 28px;
        line-height: 34px;
    }
    .h2-db-custom {
        font-size: 24px;
        line-height: 28px;
    }
    .p-db-custom {
        font-size: 16px;
        line-height: 22px;
    }
    .section-four > .flex-db, .section-two > .flex-db {
        flex-direction: column;
        margin-top: 20px;
    }
    .text-col-db-custom {
        justify-content: normal;
        align-items: baseline;
    }
    svg {
        margin-left: -10px;
    }
    .info-div {
        padding: 30px 0 0px;
        margin: 0 auto;
        flex-direction: column;
    }
    .info-div img {
        width: 80%;
    }
    .info-div > .text-col-db-custom {
        margin-top: 30px !important;
        text-align: center;
    }
    .info-div,
    .hero-description {
        width: 85%;
    }
    .height-img {
        height: auto;
        width: 40%;
    }
    .hero img {
        width: 60%;
    }

    .section-four > .flex-db, .section-two > .flex-db {
        width: 100%;
    }
    .text-col-db-custom {
        max-width: 80%;
        align-items: center;
    }
    .db-image-col {
        max-width: 55%;
    }
    .flex-db.reverse {
        flex-direction: column-reverse;
    }
    .section-three > .flex-db {
        flex-direction: column-reverse;
    }
    .section-three .db-col {
        width: 80%;
    }
 }

/* Animation */
@keyframes show-check {
    0% {
        opacity: 0;
        transform: translate3d(80px,120px,0) scale3d(.8,.8,1);
    }
    100% { 
        opacity: 1;
        transform: translate3d(0,0,0) scale3d(1,1,1);
    }
}
@keyframes bounce {
    0% {
      opacity: 0;
      fill:#00bceb
    }
    100% {
      opacity: 1;
      fill: #6ABF4B;
    }
  }
@keyframes bounceInLeft {
	0% {
		opacity: 0;
		transform: translateX(-200px);
	}
    60% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes bounceInRight {
	0% {
		opacity: 0;
		transform: translateX(200px);
	}
    60% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.animatable {
    visibility: hidden;
    animation-play-state: paused;
}
.animated {
    visibility: visible;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-play-state: running;
}
.animated > svg > .circle2 {
    animation-name: bounce;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
.animated > svg > .check {
    opacity: 0;
    animation-name: show-check;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.animated.bounceInRight {
	animation-name: bounceInRight;
    animation-duration: 1.5s;
}
.animated.bounceInLeft {
    animation-duration: 2s;
	animation-name: bounceInLeft;
}
.animated.fadeInUp {
	animation-name: fadeInUp;
}

/* fonts */
@font-face {
    font-family: 'CiscoSans';
    src: url('fonts/CiscoSansTTExtraLight.woff2') format('woff2');
    font-display: swap;
    font-stretch: normal;
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'CiscoSans';
    src: url('fonts/CiscoSansTTLight.woff2') format('woff2');
    font-display: swap;
    font-stretch: normal;
    font-style: normal;
    font-weight: 300;
}
  @font-face {
    font-family: 'CiscoSans';
    src: url('fonts/CiscoSansTTRegular.woff2') format('woff2');
    font-display: swap;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400
}
@font-face {
    font-family: 'CiscoSans';
    src: url('fonts/CiscoSansTTMedium.woff2') format('woff2');
    font-display: swap;
    font-stretch: normal;
    font-style: normal;
    font-weight: 500
}
@font-face {
    font-family: 'CiscoSans';
    src: url('fonts/CiscoSansTTBold.woff2') format('woff2');
    font-display: swap;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700
}