* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    max-width: 1600px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    font-family: 'CiscoSans', Arial, sans-serif;
    color: #424344;
    font-weight: 100;
    background: #fff;
}
.h1-db-custom {
    font-size: 68px;
    font-weight: 100;
}
.h2-db-custom {
    font-size: 38px;
    font-weight: 200;
}

.p-db-custom {
    font-size: 18px;
    margin-bottom: 16px;
    margin-top: 16px !important;
}
.container-db-custom {
    max-width: none;
}
.contain-width-db-custom {
    padding-right: 70px;
    padding-left: 70px;
}
.contain-height-db-custom {
    padding-top: 70px;
    padding-bottom: 70px;
}
.contain-bottom-db-custom {
    padding-bottom: 70px;
}
.grey-bg-db-custom {
    background: #f2f2f2;
}
.white-bg-db-custom {
    background-color: #fff;
}
.center-bg-db-custom {
    text-align: center;
}
.left-db-custom{
    text-align: left;
}
.right-bg-db-custom {
    text-align: right;
}
.row-bg-db-custom {
    justify-content: center;
}
.center-items-db-custom {
    align-items: center;
}
.custom-button-db-custom {
    display: block;
    width: fit-content;
    margin: 40px auto 0;
    padding: 12px 30px;
    border-radius: 30px;
    background-color: #0D274D;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.custom-button-db-custom:hover {
    background-color: #07162c;
    color: #fff;
}
.intro-description-db-custom {
    padding: 0px 45px;
}
.intro-description-db-custom .p-db-custom {
    font-size: 24px;
}
.sub-section-db-custom {
    padding: 70px 70px 30px;
    margin: auto;
    max-width: 875px;
}
.info-div-db-custom {
    padding: 70px 0px;
    justify-content: center;
}
.col-img-db-custom {
    max-width: 250px;
    display: block;
    margin: 0px auto;
}
.col-3-db-custom {
    height: 100%;
}
.col-h2-db-custom {
    margin: 30px 0 0;
    height: 100%;
}
.text-col-db-custom {
    display: flex;
    align-items: center;  
    max-width: 500px;
}
.image-col-db-custom {
    max-width: 300px;
}
.image-col-db-custom.bigger-db-custom {
    max-width: 400px;
}
svg {
    width: 60px;
}
.info-section-db-custom > img {
    margin: 40px 0;
    max-width: 25%;
}
.info-section-db-custom > img.bounceInLeft {
    position: relative;
    left: 20px;
    z-index: 10;
}
.info-section-db-custom > img.bounceInRight {
    position: relative;
    right: 20px;
}
.info-section-db-custom > .h1-db-custom {
    padding: 50px 45px;
    margin: 0;
}
.ref-db-custom {
    background-color: #1E4471;
    font-weight: 200;
}
.ref-db-custom > h3 {
    margin-bottom: 20px;
    font-weight: 200;
}

@media screen and (max-width: 992px) {
    body {
        max-width: 992px;
    }
    .h1-db-custom {
        font-size: 31px;
        line-height: 40px;
    }
    .p-db-custom {
        font-size: 16px;
        line-height: 23px;
    }
    .col-3-db-custom {
        padding: 0;
    }
    .col-4-db-custom {
        width: 40%;
    }
    .col-8-db-custom {
        width: 60%;
    }
    .col-img-db-custom {
        max-width: 190px;
    }
    .contain-width-db-custom {
        padding-right: 40px;
        padding-left: 40px;
    }
    .intro-description-db-custom, .info-section-db-custom > .h1-db-custom {
        padding: 40px 0px 40px 40px;
    }
    .sub-section-db-custom {
        padding: 30px;
    }
    .contain-height-db-custom {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .info-div-db-custom {
        padding: 40px 0px;
    }
}

@media screen and (max-width: 767px) {
    body {
        max-width: 767px;
    }
    .h1-db-custom {
        font-size: 36px;
        line-height: 44px;
    }
    .h2-db-custom {
        font-size: 28px;
        line-height: 34px;
    }
    .p-db-custom {
        font-size: 16px;
        line-height: 24px;
    }
    .row-bg-db-custom {
        margin: auto;
    }
    #first-db-custom {
        order: 1;
        margin: 0 auto;
        width: 60%;
    }
    #second-db-custom {
        order: 2;
    }
    .intro-description-db-custom {
        width: 100%;
        margin: 0 auto;
        padding: 25px 0px 0px;
        text-align: center;
    }
    .sub-section-db-custom {
        padding: 40px 40px 1px;
    }
    svg {
        width: 50px;
        display:block;
        margin-left: auto;
    }
    .checkmark {
        margin-left: -20px;
    }
    .info-div-db-custom {
        padding: 45px 0px;
    }
    .image-col-db-custom {
        max-width: 250px;
    }
    .col-img-db-custom {
        width: 40%;
    }
    .contain-width-db-custom.mobile {
        padding: 25px 0px 0px;
    }
    .col-3-db-custom, .col-2-db-custom {
        width: 12%;
    }
    .col-9-db-custom {
        width: 88%;
    }
    .stacked-db-custom {
        width: 500px;
        padding: 40px 0;
        margin: 0 auto;
    }
    .mobile > img {
        padding: 25px;
    }
    .infrastructure-col-db-custom {
        padding: 20px;
    }
    .image-col-db-custom, .text-col-db-custom {
        padding: 0;
    }
    .info-section-db-custom {
        padding: 40px 30px;
    }
    .padding-bottom-db-custom {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .center-margin-db-custom {
        margin: auto;
    }
 }

@media screen and (max-width: 576px) { 
    body {
        max-width: 576px;
    }
    .h1-db-custom {
        font-size: 28px;
        line-height: 34px;
    }
    .h2-db-custom {
        font-size: 24px;
        line-height: 28px;
    }
    .p-db-custom {
        font-size: 16px;
        line-height: 22px;
    }
    .container-db-custom {
        padding-right: var(--bs-gutter-x,0rem);
        padding-left: var(--bs-gutter-x,0rem);
    }
    .contain-width-db-custom {
        padding-right: 5px;
        padding-left: 5px;
    }
    .contain-height-db-custom.mobile {
        padding-top: 0px;
    }
    .row-bg-db-custom.mobile {
        width: 80%;
        padding-bottom: 20px;
        margin: auto;
        text-align: center;
    }
    .text-col-db-custom {
        justify-content: normal;
    }
    .text-col-db-custom.mobile {
        padding: 0px;
        text-align: center;
    }
    .sub-section-db-custom {
        padding: 25px 5px 5px;
    }
    svg {
        margin-left: -10px;
    }
    .checkmark {
        margin-left: -10px;
    }
    .stacked-db-custom {
        width: 100%;
    }
    .info-div-db-custom {
        padding: 10px 0 30px;
        margin: 0;
        flex-direction: column-reverse;
    }
    .info-div-db-custom > .text-col-db-custom {
        margin-top: 20px;
    }
    .col-6-db-custom {
        margin: 0 auto;
        width: 100%;
    }
    .infrastructure-col-db-custom {        
        padding: 0px 0px 20px;
    }
    .info-div-db-custom,
    .sub-section-db-custom,
    .intro-description-db-custom {
        width: 85%;
    }
    .infra-db-custom,
    .infrastructure-col-db-custom,
    .infrastructure-col-db-custom > .row-bg-db-custom {
        width: 80%;
    }
    .col-h2-db-custom {
        margin-top: 20px;
    }
    .col-img-db-custom {
        width: 70%;
    }
    .info-section-db-custom {
        padding: 40px 25px;
    }
    .info-section-db-custom > .h1-db-custom {
        padding: 25px;
    }
    .info-section-db-custom > img.bounceInLeft {
        left: 10px;
    }
    .info-section-db-custom > img.bounceInRight {
        right: 10px;
    }
    .info-section-db-custom > img {
        max-width: 48%;
    }
 }

/* Animation */
@keyframes show-check {
    0% {
        opacity: 0;
        transform: translate3d(80px,120px,0) scale3d(.8,.8,1);
    }
    100% { 
        opacity: 1;
        transform: translate3d(0,0,0) scale3d(1,1,1);
    }
}
@keyframes bounce {
    0% {
      opacity: 0;
      fill:#00bceb
    }
    100% {
      opacity: 1;
      fill: #6ABF4B;
    }
  }
@keyframes bounceInLeft {
	0% {
		opacity: 0;
		transform: translateX(-200px);
	}
    60% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes bounceInRight {
	0% {
		opacity: 0;
		transform: translateX(200px);
	}
    60% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.animatable {
    visibility: hidden;
    animation-play-state: paused;
}
.animated {
    visibility: visible;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-play-state: running;
}
.animated > svg > .circle2 {
    animation-name: bounce;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
.animated > svg > .check {
    opacity: 0;
    animation-name: show-check;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.animated.bounceInRight {
	animation-name: bounceInRight;
    animation-duration: 1.5s;
}
.animated.bounceInLeft {
    animation-duration: 2s;
	animation-name: bounceInLeft;
}
.animated.fadeInUp {
	animation-name: fadeInUp;
}

/* fonts */
@font-face {
    font-family: 'CiscoSans';
    src: url('fonts/CiscoSansTTExtraLight.woff2') format('woff2');
    font-display: swap;
    font-stretch: normal;
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'CiscoSans';
    src: url('fonts/CiscoSansTTLight.woff2') format('woff2');
    font-display: swap;
    font-stretch: normal;
    font-style: normal;
    font-weight: 300;
}
  @font-face {
    font-family: 'CiscoSans';
    src: url('fonts/CiscoSansTTRegular.woff2') format('woff2');
    font-display: swap;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400
}
@font-face {
    font-family: 'CiscoSans';
    src: url('fonts/CiscoSansTTMedium.woff2') format('woff2');
    font-display: swap;
    font-stretch: normal;
    font-style: normal;
    font-weight: 500
}
@font-face {
    font-family: 'CiscoSans';
    src: url('fonts/CiscoSansTTBold.woff2') format('woff2');
    font-display: swap;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700
}